@use '../../../assets/styles/variables' as *;

.symbolCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-sm;
  border: 1px solid $border-color;
  border-radius: 4px;
  margin-bottom: $spacing-sm;
  background-color: $secondary-color;
  height: 80px;

  .symbolInfo {
    display: flex;
    flex-direction: column;

    .symbol {
      font-weight: 600;
      margin-bottom: $spacing-xs;
    }

    .pair {
      font-size: 12px;
      color: $text-light-20;
    }
  }
}